
pytest
zmq 
requests 
cython
Cython
configparser
json
sys
traceback

# CV
opencv-python 
scikit-image
pillow 
pycocotools 
matplotlib 
PyQt5 # needed on KDE/Qt envs for matplotlib
python_image_complete 
wai.annotations<=0.3.5 

# Model 
torchvision==0.8.1 
pytorch-lightning
numpy 
urllib3 

hub # https://docs.activeloop.ai/en/latest/installing.html

# AWS
sagemaker[local]
boto3==1.17.59

PyYAML
hub # https://docs.activeloop.ai/en/latest/installing.html
ipykernel
jupyterlab

# GIS
rasterio==1.2.1
gdown
Shapely==1.7.1
osgeo
https://github.com/cgarrard/osgeopy-code/raw/master/ospybook-latest.zip
planar
