pip
cython 
torchvision==0.5.0
torch==1.4
#cudatoolkit
#cudnn
#cuda100
matplotlib
# git # to download COCO dataset
# curl # to download COCO dataset
# unzip # to download COCO dataset
opencv-python 
pillow==6.1 # bug PILLOW_VERSION in torchvision, must be < 7.0 until torchvision is upgraded
pycocotools 
PyQt5 # needed on KDE/Qt envs for matplotlib
rasterio==1.2.1
boto3==1.17.31
configparser
numpy
json
sys
traceback
gdown